.appContainer{
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.tabContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon{
    margin-right: 0.5rem;
}
.spinner{
  position: absolute;
  top: 50%;  /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */

  transform: translate(-50%, -50%);
  top: 47%;
}