.schedule{
    margin: 0 auto;
    padding-top: 1.5rem;
    text-align: center;
    /* max-width: 38rem; */
}
.subjectList{
  margin: 3rem auto;
  margin-bottom: 0.5rem;
  text-align: center;
}
.emptyList{
  margin: 3rem auto;
  margin-bottom: 1rem;
  text-align: center;
}
.warningIcon{
  width: 50px;
  height: 50px;
}
.headline{
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.editButton{
  margin-top: 2rem;
}
.addButton{
  margin: 0 auto;
  text-align: center;
  margin-top: 0.5rem;
}
.subjectItem{
  margin: 0 auto;
  position: relative;
  max-width: 38rem;
  display: flex;
  height: 3.3rem;
  align-items: center;
  margin-top: 0.3rem;
  border: 1px solid gray;
  border-radius: 10px;
  padding-left: 1rem;
}
.taskItem{
  margin: 0 auto;
  max-width: 38rem;
  display: flex;
  height: 3.3rem;
  align-items: center;
  margin-top: 0.7rem;
  /* border: 1px solid gray; */
  border-radius: 10px;
  padding-left: 1rem;
  cursor: pointer;
  transition: 0.2s;
}
.taskItem:active{
  transform: scale(0.98);
  outline: none;
}
.subjectText{
  text-align: start;
  margin-left: 1rem;
}
.subjectFooter{
  color: gray;
}
.teacherInput, .cabinetInput, .subjectFormButton, .datePicker, .taskButton{
  width: 100%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: start;
  max-width: 38rem;
}
.taskButton{
  margin: 0.5rem auto;
  text-align: start;
}
.subjectFormButton{
  margin-top: 1rem;
}
.datePicker{
  margin-top: 0;
  margin-bottom: 0;
}
.taskText{
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
.submitChangeButton{
  margin: auto;
  width: 100%;
}
.submitChangeButtonContainer{
  /* position: fixed; */
  margin: 0 auto;
  margin-top: 3rem;
  max-width: 38rem;
  padding: 1rem;
  /* bottom: 0;
  left: 0;
  right: 0; */
}
.subjectButton{
  /* width: 100%; */
  height: 1rem;
  margin: 0.25rem;
  text-align: right;
}
.subjectsSelect{
  margin-top: 2rem;
}
.dayTabs{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  /* width: 100px; */
  margin: 0 auto;
}
.tabItem{
  /* max-width: 30px; */
  max-width: 5rem;
  padding: 0;
}
.subjectIcon{
  margin-left: 1rem;
}
.spinner{
  position: absolute;
  left: 47%;
  top: 47%;
}
.form{
  text-align: start;
  max-width: 38rem;
  margin: 0 auto;
}
.label{
  margin-left: 1rem;
  color: rgb(199, 199, 199);
}
.deleteItem{
  display: block;
  width: 15px;
  height: 15px;
  opacity: 0.3;
  position: absolute;
  right: 15px;
  cursor: pointer;
}
.deleteItem:hover {
  opacity: 1;
}
.deleteItem:active:before, .deleteItem:active:after {
  background-color: rgb(250, 250, 250);
  opacity: 0.7;
}
.deleteItem:before, .deleteItem:after {
  position: absolute;
  right: 15px;
  content: ' ';
  height: 15px;
  width: 2px;
  background-color: rgb(192, 192, 192);
}
.deleteItem:before {
  transform: rotate(45deg);
}
.deleteItem:after {
  transform: rotate(-45deg);
}