.formTransition-enter {
  opacity: 0;
  /* transform: scale(0.9); */
  transform: translateY(100px);
}
.formTransition-enter-active {
  opacity: 1;
  transform: translateY(0);
  /* transition: opacity 300ms, transform 300ms; */
  transition: 200ms ease-in;
}
.formTransition-exit {
  opacity: 1;
}
.formTransition-exit-active {
  opacity: 0;
  transform: translateY(100px);
  /* transition: opacity 300ms, transform 300ms; */
  transition: 150ms ease-in;
}


.loader-enter {
  opacity: 0.2;
  transform: scale(0.3);
}
.loader-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: 200ms ease-in;
}
.loader-exit {
  opacity: 1;
}
.loader-exit-active {
  opacity: 0.2;
  transform: scale(0.3);
  transition: 200ms ease-in;
}
